.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  flex: 1;
}

.light {
  color: rgb(41, 41, 41);
  background: #fff;
}

.light > * {
  color: rgb(18, 18, 18);
}

.dark {
  background: #101111;
}

.dark > * {
  color: #fff;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  min-height: 100vh;

  transition: all 350ms ease;
}
