.post-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  list-style: none;
}

.post {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post-image {
  height: 150px;
  position: relative;
}

.post-image img {
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.info div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.info p {
  margin: 0;
}

.info span {
  font-size: 0.9rem;
}

.post {
  color: inherit;
}

.section {
  margin-block: 3rem;
}
